DFMarketFiles/V1/PipelineDefinition_GenerateData.json
{'parts': [
        {'path': 'pipeline-content.json', 'payload': '{\n  "properties": {\n    "activities": [\n      {\n        "name": "Run DF For Each YearMonth",\n        "type": "ForEach",\n        "dependsOn": [\n          {\n            "activity": "Create YearMonth Array",\n            "dependencyConditions": [\n              "Succeeded"\n
                                    ]\n
                                }\n
                            ],\n        "typeProperties": {\n          "items": {\n            "value": "@variables(\'MonthArray\')",\n            "type": "Expression"\n
                                },\n          "batchCount": 10,\n          "activities": [\n            {\n              "name": "Append_Sales_Monthly",\n              "type": "RefreshDataflow",\n              "dependsOn": [],\n              "policy": {\n                "timeout": "0.12:00:00",\n                "retry": 0,\n                "retryIntervalInSeconds": 30,\n                "secureOutput": false,\n                "secureInput": false\n
                                        },\n              "typeProperties": {\n                "dataflowId": "AppendSalesDataflowId",\n                "workspaceId": "replacewithworkspaceid",\n                "notifyOption": "NoNotification",\n                "dataflowType": "DataflowFabric",\n                "parameters": {\n                  "InputYearMonth": {\n                    "value": {\n                      "value": "@item()",\n                      "type": "Expression"\n
                                                    },\n                    "type": "string"\n
                                                },\n                  "AvgTransactionsPerDay": {\n                    "value": 200,\n                    "type": "int"\n
                                                },\n                  "AvgProductsPerTransaction": {\n                    "value": 3,\n                    "type": "int"\n
                                                },\n                  "AvgQtyPerProduct": {\n                    "value": 3,\n                    "type": "int"\n
                                                },\n                  "RandomListLength": {\n                    "value": 500,\n                    "type": "int"\n
                                                },\n                  "LatestDate": {\n                    "value": 1000,\n                    "type": "int"\n
                                                },\n                  "MaxNumberOfProducts": {\n                    "value": 990,\n                    "type": "int"\n
                                                },\n                  "MaxNumberOfStores": {\n                    "value": 40,\n                    "type": "int"\n
                                                }\n
                                            }\n
                                        }\n
                                    }\n
                                ]\n
                            }\n
                        },\n      {\n        "name": "DeleteSales_CreateEmpty",\n        "type": "RefreshDataflow",\n        "dependsOn": [],\n        "policy": {\n          "timeout": "0.12:00:00",\n          "retry": 0,\n          "retryIntervalInSeconds": 30,\n          "secureOutput": false,\n          "secureInput": false\n
                            },\n        "typeProperties": {\n          "dataflowId": "CreateSalesDataflowId",\n          "workspaceId": "replacewithworkspaceid",\n          "notifyOption": "NoNotification",\n          "dataflowType": "DataflowFabric"\n
                            }\n
                        },\n      {\n        "name": "Overwrite_DIM_Tables",\n        "type": "RefreshDataflow",\n        "dependsOn": [\n          {\n            "activity": "Run DF For Each YearMonth",\n            "dependencyConditions": [\n              "Succeeded"\n
                                    ]\n
                                }\n
                            ],\n        "policy": {\n          "timeout": "0.12:00:00",\n          "retry": 0,\n          "retryIntervalInSeconds": 30,\n          "secureOutput": false,\n          "secureInput": false\n
                            },\n        "typeProperties": {\n          "dataflowId": "ReplaceDIMsDataflowId",\n          "workspaceId": "replacewithworkspaceid",\n          "notifyOption": "NoNotification",\n          "dataflowType": "DataflowFabric",\n          "parameters": {\n            "Workspace_ID": {\n              "value": {\n                "value": "@variables(\'WorkspaceID\')",\n                "type": "Expression"\n
                                        },\n              "type": "string"\n
                                    },\n            "Lakehouse_ID": {\n              "value": {\n                "value": "@variables(\'LakehouseID\')",\n                "type": "Expression"\n
                                        },\n              "type": "string"\n
                                    }\n
                                }\n
                            }\n
                        },\n      {\n        "name": "Create YearMonth Array",\n        "type": "ForEach",\n        "dependsOn": [\n          {\n            "activity": "DeleteSales_CreateEmpty",\n            "dependencyConditions": [\n              "Succeeded"\n
                                    ]\n
                                }\n
                            ],\n        "typeProperties": {\n          "items": {\n            "value": "@range(0, variables(\'NumberOfMonths\'))",\n            "type": "Expression"\n
                                },\n          "activities": [\n            {\n              "name": "Append variable1",\n              "type": "AppendVariable",\n              "dependsOn": [],\n              "typeProperties": {\n                "variableName": "MonthArray",\n                "value": {\n                  "value": "@formatDateTime(addToTime(formatDateTime(concat(variables(\'StartMonth_as_YYYY-MM\'), \'-01\')), item(), \'Month\'), \'yyyyMM\')",\n                  "type": "Expression"\n
                                            }\n
                                        }\n
                                    }\n
                                ]\n
                            }\n
                        }\n
                    ],\n    "variables": {\n      "NumberOfMonths": {\n        "type": "Integer",\n        "defaultValue": 18\n
                        },\n      "StartMonth_as_YYYY-MM": {\n        "type": "String",\n        "defaultValue": "2024-01"\n
                        },\n      "MonthArray": {\n        "type": "Array"\n
                        },\n      "WorkspaceID": {\n        "type": "String",\n        "defaultValue": "replacewithworkspaceid"\n
                        },\n      "LakehouseID": {\n        "type": "String",\n        "defaultValue": "replacewithlakehouseid"\n
                        }\n
                    }\n
                }\n
            }', 'payloadType': 'InlineBase64'
        },
        {'path': '.platform', 'payload': '{\n  "$schema": "https://developer.microsoft.com/json-schemas/fabric/gitIntegration/platformProperties/2.0.0/schema.json",\n  "metadata": {\n    "type": "DataPipeline",\n    "displayName": "Generate Data"\n
                },\n  "config": {\n    "version": "2.0",\n    "logicalId": "00000000-0000-0000-0000-000000000000"\n
                }\n
            }', 'payloadType': 'InlineBase64'
        }
    ]
}