DFMarketFiles/V1/PipelineDefinition_GenerateData.json
{'parts': [
        {'path': 'pipeline-content.json',
   'payload': '{
                "properties": {
                    "activities": [
                        {
                            "name": "Run DF For Each YearMonth",
                            "": "type",
                            : "ForEach",
                            "": "dependsOn",
                            : [
                                {
                                    "activity": "Create YearMonth Array",
                                    "": "dependencyConditions",
                                    : [
                                        "Succeeded"
                                    ]
                                },
                            ],
                            "": "typeProperties",
                            : {
                                "items": {
                                    "value": "@variables(\'MonthArray\')",
                                    "": "type",
                                    : "Expression"
                                },
                                "batchCount": 10,
                                "activities": [
                                    {
                                        "name": "Append_Sales_Monthly",
                                        "type": "RefreshDataflow",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "dataflowId": "de68ac3e-7db6-4c98-9ae5-36c968dbab20",
                                            "workspaceId": "251f62c8-c9a1-4d31-a75e-126a551b7958",
                                            "notifyOption": "NoNotification",
                                            "dataflowType": "DataflowFabric",
                                            "parameters": {
                                                "InputYearMonth": {
                                                    "value": {
                                                        "value": "@item()",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "AvgTransactionsPerDay": {
                                                    "value": 200,
                                                    "type": "int"
                                                },
                                                "AvgProductsPerTransaction": {
                                                    "value": 3,
                                                    "type": "int"
                                                },
                                                "AvgQtyPerProduct": {
                                                    "value": 3,
                                                    "type": "int"
                                                },
                                                "RandomListLength": {
                                                    "value": 500,
                                                    "type": "int"
                                                },
                                                "LatestDate": {
                                                    "value": 1000,
                                                    "type": "int"
                                                },
                                                "MaxNumberOfProducts": {
                                                    "value": 990,
                                                    "type": "int"
                                                },
                                                "MaxNumberOfStores": {
                                                    "value": 40,
                                                    "type": "int"
                                                }
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "DeleteSales_CreateEmpty",
                            "type": "RefreshDataflow",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "dataflowId": "5b9fbf44-7c9b-43bb-a63b-d8c29b0c806d",
                                "workspaceId": "251f62c8-c9a1-4d31-a75e-126a551b7958",
                                "notifyOption": "NoNotification",
                                "dataflowType": "DataflowFabric"
                            }
                        },
                        {
                            "name": "Overwrite_DIM_Tables",
                            "type": "RefreshDataflow",
                            "dependsOn": [
                                {
                                    "activity": "Run DF For Each YearMonth",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "dataflowId": "ReplaceDIMsDataflowId",
                                "workspaceId": "251f62c8-c9a1-4d31-a75e-126a551b7958",
                                "notifyOption": "NoNotification",
                                "dataflowType": "DataflowFabric",
                                "parameters": {
                                    "Workspace_ID": {
                                        "value": {
                                            "value": "@variables(\'WorkspaceID\')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "Lakehouse_ID": {
                                        "value": {
                                            "value": "@variables(\'LakehouseID\')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Create YearMonth Array",
                            "type": "ForEach",
                            "dependsOn": [
                                {
                                    "activity": "DeleteSales_CreateEmpty",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "items": {
                                    "value": "@range(0, variables(\'NumberOfMonths\'))",
                                    "type": "Expression"
                                },
                                "activities": [
                                    {
                                        "name": "Append variable1",
                                        "type": "AppendVariable",
                                        "dependsOn": [],
                                        "typeProperties": {
                                            "variableName": "MonthArray",
                                            "value": {
                                                "value": "@formatDateTime(addToTime(formatDateTime(concat(variables(\'StartMonth_as_YYYY-MM\'), \'-01\')), item(), \'Month\'), \'yyyyMM\')",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "variables": {
                        "NumberOfMonths": {
                            "type": "Integer",
                            "defaultValue": 18
                        },
                        "StartMonth_as_YYYY-MM": {
                            "type": "String",
                            "defaultValue": "2024-01"
                        },
                        "MonthArray": {
                            "type": "Array"
                        },
                        "WorkspaceID": {
                            "type": "String",
                            "defaultValue": "251f62c8-c9a1-4d31-a75e-126a551b7958"
                        },
                        "LakehouseID": {
                            "type": "String",
                            "defaultValue": "3190cae1-4f77-45d5-bb3d-e5d60714e836"
                        }
                    }
                }
            }',
   'payloadType': 'InlineBase64'
        },
        {'path': '.platform',
   'payload': '{
                "$schema": "https://developer.microsoft.com/json-schemas/fabric/gitIntegration/platformProperties/2.0.0/schema.json",
                "metadata": {
                    "type": "DataPipeline",
                    "displayName": "Generate Data"
                },
                "config": {
                    "version": "2.0",
                    "logicalId": "00000000-0000-0000-0000-000000000000"
                }
            }',
   'payloadType': 'InlineBase64'
        }
    ]
}